/* Colors */
$color-soft-cyan: #58e1c1;
$color-dark-gray: #777;
$color-lime-green: #63cc82;
$color-soft-red: #fd7856;
$color-light-violet: #927bc1;

/* Responsive Variables */
$responsive-medium-width: 768px;
